<form method="post">
    <input type="hidden" name="form_type" value="password">

    <div class="mb-3">
        <label class="form-label">Current Password:</label>
        <input class="form-control" type="password" class="form-control" name="current_password" required>
    </div>

    <div class="mb-3">
        <label class="form-label">New Password:</label>
        <input class="form-control" type="password" name="new_password" required>
    </div>
    
    <div class="mb-3">
        <label class="form-label">Confirm New Password:</label>
        <input class="form-control" type="password" name="confirm_new_password" required>
    </div>

    <button class="btn btn-primary" type="submit">Change Password</button>
</form>
