{% extends "base.html" %}
{% block content %}
<section class="text-center rounded">
    <h2 class="display-5">Cart</h2>

    <p class="lead text-muted">
        Review the items in your cart, you can update quantities or remove products before checkout.
    </p>
</section>

<!-- Cart section -->
{% if items %}
<section class="mb-4 table-responsive table-rounded border">
    <table table class="table align-middle text-center">
        <!-- Header -->
        <thead class="table-dark">
            <tr>
                <th scope="col" class="d-none d-lg-table-cell">Image</th>
                <th scope="col">Product</th>
                <th scope="col">Qty</th>
                <th scope="col">Subtotal</th>
                <th scope="col">Remove</th>
            </tr>
        </thead>

        <!-- Body -->
        <tbody>
            {% for item in items %}
            <tr>
                <td class="d-none d-lg-table-cell">
                    <img class="img-fluid rounded" width="50" height="50"
                        src="{{ url_for('static', filename='images/product_pictures/' + (item.product.image or config.DEFAULT_PRODUCT_PICTURE)) }}"
                        style="object-fit:cover;" alt="{{ item.product.title }}">
                </td>

                <td>
                    <a href="{{ url_for('product_detail', product_id=item.product.id) }}"
                        class="text-decoration-none text-light">
                        {{ item.product.title }}
                    </a>
                </td>

                <td>
                    <form action="{{ url_for('update_cart_quantity', product_id=item.product.id) }}" method="POST"
                        class="d-flex align-items-center justify-content-center">
                        <input type="number" name="quantity" value="{{ item.quantity }}" min="1"
                            class="form-control form-control-sm me-2" style="width: 70px;">
                        <button type="submit" class="btn btn-sm btn-outline-primary">
                            <i class="bi bi-arrow-clockwise"></i>
                        </button>
                    </form>
                </td>

                <td>KES {{ "%.2f"|format(item.subtotal) }}</td>
                <td>
                    <form method="post" action="{{ url_for('remove_from_cart', product_id=item.product.id) }}">
                        <button class="btn btn-sm btn-danger" type="submit">
                            <i class="bi bi-x-lg"></i>
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>

        <!-- Footer -->
        <tfoot class="table-secondary">
            <tr>
                <td class="d-none d-lg-table-cell"></td>
                <td></td>
                <td class="fw-bold">{{ items|sum(attribute="quantity") }}</td>
                <td class="fw-bold">KES {{ "%.2f"|format(items|sum(attribute="subtotal")) }}</td>
                <td></td>
            </tr>
        </tfoot>
    </table>
</section>

<!-- Empty cart -->
{% else %}
<section class="alert alert-warning mb-3" role="alert">
    Your cart is empty.
</section>
{% endif %}

<!-- Action buttons -->
<section class="d-grid gap-2 d-lg-block d-lg-flex justify-content-lg-between align-items-center mb-5">
    <a href="{{ url_for('initiate_checkout_view') }}"
        class="btn btn-primary btn-lg w-100 w-lg-auto order-1 order-lg-2"><i class="bi bi-credit-card">
        </i> Proceed to Checkout</a>

    <a href="{{ url_for('catalog') }}" class="btn btn-outline-secondary btn-lg order-2 order-lg-1">
        <i class="bi bi-arrow-left me-1"></i> Continue Shopping
    </a>
</section>

<!-- Top Products Section -->
{% if top_products %}
<section>
    <h2 class="section-title text-center mb-4">Top Products</h2>

    <div class="row g-4 justify-content-center">
        {% for product in top_products %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            {% include 'shop/product_card.html' %}
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}
{% endblock %}