{% extends "base.html" %}
{% block content %}

<section class="text-center rounded">
    <h2 class="display-5">Order History</h2>

    <p class="lead text-muted">
        View all your past orders, track their status, and reorder your favorite items with ease.
    </p>
</section>

{% for order in orders %}
<section class="mb-4 table-responsive table-rounded border">
    <div class="py-2 text-center">
        <time class="small text-muted" datetime="{{ order.created_at.isoformat() }}">
            {{ order.created_at.strftime("%B %d, %Y at %I:%M %p") }}
        </time>
    </div>

    <table table class="table align-middle text-center">
        <!-- Header -->
        <thead class="table-dark">
            <tr>
                <th class="w-25" scope="col">Product</th>
                <th class="w-25" scope="col">Qty</th>
                <th class="w-25" scope="col">Unit Price</th>
                <th class="w-25" cscope="col">Subtotal</th>
            </tr>
        </thead>

        <!-- Body -->
        <tbody>
            {% for item in order.items %}
            <tr>
                <td>{{ item.product_title }}</td>
                <td>{{ item.quantity }}</td>
                <td>KES {{ "%.2f"|format(item.product_price) }}</td>
                <td>KES {{ "%.2f"|format(item.quantity * item.product_price) }}</td>
            </tr>
            {% endfor %}
        </tbody>

        <!-- Footer -->
        <tfoot class="table-secondary">
            <tr>
                <td></td>
                <td class="fw-bold">{{ order.items|sum(attribute="quantity") }}</td>
                <td></td>
                <td class="fw-bold">KES {{ "%.2f"|format(order.items|sum(attribute="subtotal")) }}</td>
            </tr>
        </tfoot>
    </table>
</section>
{% else %}
<section class="alert alert-warning mb-3" role="alert">
    No orders found.
</section>
{% endfor %}

{% endblock %}