{% extends "base.html" %}
{% block content %}
<section class="m-0 p-0 row align-items-stretch mb-5">
	<!-- Image section -->
	<div class="m-0 p-0 mb-4 mb-lg-0 col-lg-6">
		{% if product.images %}
		<div id="productCarousel" class="carousel slide shadow-sm rounded overflow-hidden" data-bs-interval="false">
			<div class="carousel-inner">
				{% for img in product.images %}
				<div class="carousel-item {% if loop.first %}active{% endif %}">
					<img src="{{ url_for('static', filename='images/product_pictures/' + img.image_filename) }}"
						class="d-block w-100 object-fit-cover" style="max-height: 600px;" alt="{{ product.title }}">
				</div>
				{% endfor %}
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true" style="filter: invert(1);"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true" style="filter: invert(1);"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
		{% else %}
		<img class="img-fluid rounded shadow-sm"
			src="{{ url_for('static', filename='images/product_pictures/' + product.image) }}"
			alt="{{ product.title }}">
		{% endif %}
	</div>

	<!-- Details section -->
	<div class="ps-lg-5 col-lg-6 d-flex flex-column">
		<h1 class="mb-4">{{ product.title }}</h1>
		<p class="mb-4">{{ product.description }}</p>

		<small class="mb-2 mt-auto">
			<p class="mb-4 h4"><span class="text-primary">KES {{ "%.2f"|format(product.price) }}</span></p>
		</small>

		<!-- Add to cart section -->
		{% if product.quantity > 0 %}
		<form class="d-flex align-items-center gap-3" method="POST"
			action="{{ url_for('add_to_cart', product_id=product.id) }}">
			<input type="hidden" name="next" value="{{ request.full_path }}">

			<div class="input-group" style="width: 65px;">
				<input class="form-control" type="number" name="quantity" value="1" min="1" aria-label="Quantity">
			</div>

			<button type="submit" class="btn btn-primary">
				<i class="me-2 bi bi-bag-plus-fill"></i>Add to cart
			</button>
		</form>
		{% endif %}

		<div class="mt-5">
			<a class="btn btn-outline-secondary" href="{{ url_for('catalog') }}">
				<i class="me-1 bi bi-arrow-left"></i>Back to catalog
			</a>
		</div>
	</div>
</section>

<!-- Top products -->
<section>
	<h2 class="section-title text-center mb-4">Top Products</h2>

	<div class="row g-4 justify-content-center">
		{% for product in top_products %}
		<div class="col-12 col-md-6 col-lg-3">
			{% include "shop/product_card.html" %}
		</div>
		{% endfor %}
	</div>
</section>
{% endblock %}