{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="card border-0 shadow">
            <div class="p-4 card-body">
                <h2 class="mb-3 card-title text-center">Register</h2>

                <form method="post">
                    <div class="d-grid gap-2 mb-4">
                        <a href="{{ url_for('auth.google_login') }}"
                            class="btn bg-zing-blue text-white d-flex align-items-center justify-content-center gap-2 border-0 shadow-sm hover-zoom">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="24px"
                                height="24px">
                                <path fill="#EA4335"
                                    d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z">
                                </path>
                                <path fill="#4285F4"
                                    d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z">
                                </path>
                                <path fill="#FBBC05"
                                    d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z">
                                </path>
                                <path fill="#34A853"
                                    d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z">
                                </path>
                                <path fill="none" d="M0 0h48v48H0z"></path>
                            </svg>
                            Sign up with Google
                        </a>
                        <div class="text-center mt-3 mb-1 text-muted small fw-bold">OR REGISTER WITH EMAIL</div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Username:</label>
                        <input class="form-control" type="text" name="username" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Email:</label>
                        <input class="form-control" type="email" name="email" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="password">Password:</label>
                        <div class="input-group">
                            <input class="form-control" type="password" name="password" id="password" required>
                            <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                                <i class="bi bi-eye"></i>
                            </button>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="confirm_password">Confirm Password:</label>
                        <div class="input-group">
                            <input class="form-control" type="password" name="confirm_password" id="confirm_password"
                                required>
                            <button class="btn btn-outline-secondary" type="button" id="toggleConfirmPassword">
                                <i class="bi bi-eye"></i>
                            </button>
                        </div>
                    </div>

                    <div class="d-grid gap-2 mt-4">
                        <button class="btn btn-primary" type="submit">Register</button>
                    </div>

                    <script>
                        function setupToggle(toggleId, inputId) {
                            const toggle = document.querySelector(toggleId);
                            const input = document.querySelector(inputId);

                            toggle.addEventListener('click', function () {
                                const type = input.getAttribute('type') === 'password' ? 'text' : 'password';
                                input.setAttribute('type', type);

                                this.querySelector('i').classList.toggle('bi-eye');
                                this.querySelector('i').classList.toggle('bi-eye-slash');
                            });
                        }

                        setupToggle('#togglePassword', '#password');
                        setupToggle('#toggleConfirmPassword', '#confirm_password');
                    </script>

                    <p class="text-end">
                        <a href="{{ url_for('auth.login') }}">Login</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}